{% extends "layout.html" %}
{% block title %}HomePage{% endblock %}
{% block content %}
<div class="container ">
    <div class="row" style="margin-top: 110px; margin-bottom: 110px;">
      <div class="col" style="margin-top: 75px;">
        <div class="row ml-2">
            <img class="mr-1" src="/static/user.png"  style="width:25px;height:25px;">
            <p>Mehmet Eymen Ünay - 040190218</p>
        </div>
       
       
    </div>
      <div class="col">
        <div class="center-block ">
            <img src="/static/home-pic.png" alt="home picture" style="width:450px;height:450px;" class="picture">
        </div>
      </div>
    </div>
</div>

{% endblock %}
